/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/product.css");
@import url("components/box.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding: 20px;
  padding-bottom: 200px;
  background: #3d3d3a;
  margin: 10;
}

h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
  color: #e6e6e6;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
}

#page-content {
  margin-left: 100px;
}
